* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    background-color: #2d0707;
    padding: 20px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    width: 100%; 
    position: relative;
    z-index: 1;
}


.main-container > * {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto; 
}